@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Lora";
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background-image: url("images/fundo.png");
}

h1 {
    font-size: 20px;
    width: 370px;
}

p {
    font-size: 12px;
    width: 370px;
}

.titulo {
    font-size: 40px;
    width: 370px;
}

.flipbook {
    width: 820px;
    height: 520px;
    background-image: url(images/paper.jpg);
}

.flipbook .hard {
    background-image: url(images/paper.jpg);
    color: #000;
    font-weight: bold;
    border: none; 
    font-size: 60px;
    align-items: center;
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	font-size: 14px;
    border: none; 
}

.flipbook .page {
    background-image: url(images/paper.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
}

.page img{
	margin: auto;
    object-fit: cover;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}
